---
import InputSearch from "@/components/header/InputSearch.astro";
import LoginModal from "./LoginModal.astro";
import UserMenu from "./UserMenu.astro";
const { user } = Astro.locals;
---

<header
  class="sticky h-14 px-14 flex justify-between items-center backdrop-blur-xs bg-accent/70 top-0 z-20"
  transition:persist
>
  <h1
    onclick="window.location.href='/home'"
    class="text-xl font-bold cursor-pointer"
  >
    Urban Style
  </h1>
  <div id="links_container" class="relative px-2">
    <ul class="flex w-fit gap-6 items-center justify-center">
      <li>
        <a href="">Hombres</a>
      </li>
      <li>
        <a href="">Mujeres</a>
      </li>
      <li id="search_container" class="flex items-center gap-2 cursor-pointer">
        <span>Buscar</span>
        <InputSearch />
      </li>
    </ul>
  </div>
  <nav class="relative h-full">
    <ul class="flex h-full gap-6 px-2">
      <li>
        <a href="http://localhost:4321/shopping-cart/" type="button">Carrito</a>
      </li>
      <li class=" group">
        {
          !user && (
            <button id="login_button" type="button">
              Iniciar Sesión
            </button>
          <LoginModal />
          )
        }
        {user && <UserMenu user={user} />}
      </li>
    </ul>
  </nav>
</header>

<style>
  nav ul li {
    @apply h-full flex items-center;
  }
</style>

<script>
  import { $ } from "@/lib/dom-selector";

  $("#login_button")?.addEventListener("click", () => {
    $<HTMLDialogElement>("#login_modal")?.showModal();
  });
</script>
