---
interface Props {
	href?: string
	text?: string
}

const { href, text } = Astro.props
---

<li
	class="max-lg:bg-background border-border rounded-md max-lg:w-full max-lg:border max-lg:px-2 max-lg:py-1"
>
	<a href={href}>{text}</a>
</li>
