---
import InputSearch from '@/components/header/InputSearch.astro'
import HeaderMenuItem from '@/components/header/HeaderMenuItem.astro'
---

<ul class="flex w-full flex-col items-center justify-center gap-x-4 gap-y-3 md:w-fit md:flex-row">
	<HeaderMenuItem href="" text="Hombres" />
	<HeaderMenuItem href="" text="Mujeres" />
	<li
		id="search_container"
		class="max-md:bg-background border-border flex flex-col gap-2 rounded-md max-md:w-full max-md:border max-md:px-2 max-md:py-1 md:flex-row md:items-center"
	>
		<span>Buscar</span>
		<InputSearch />
	</li>
</ul>
