---
import type { JSX } from 'astro/jsx-runtime'
import MessageError from './MessageError.astro'

interface Props {
	label: string
	name: string
	type?: JSX.IntrinsicElements['input']['type']
	placeholder?: string
	errorId: string
}

const { label, name, type, placeholder, errorId } = Astro.props
---

<label
	class="border-l-3 text-text flex w-full flex-col justify-center border-transparent px-2 transition-all duration-300"
>
	<span>{label}:</span>
	<MessageError errorId={errorId} />
	<input
		class="border-border focus:custom-ring h-11 w-full rounded border-2 px-3 focus:outline-0"
		type={type || 'text'}
		placeholder={placeholder}
		name={name}
	/>
</label>
