---
import { ClientRouter } from "astro:transitions";
import Header from "../components/header/Header.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro Basics</title>

    <ClientRouter />
  </head>
  <body class="flex flex-col bg-background overflow-auto gap-5">
    <Header />
    <main>
      <slot />
    </main>
    <slot name="sidebar" />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
