---
import Header from '@/components/header/Header.astro'
import { ClientRouter } from 'astro:transitions'
import '@/styles/global.css'

interface Props {
	title?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title || 'Urban Style'}</title>

		<ClientRouter />
	</head>
	<body class="bg-background flex h-full min-h-dvh flex-col overflow-auto">
		<Header />
		<main class="flex h-full">
			<slot name="sidebar" />
			<slot />
		</main>
	</body>
</html>
