---
import { ClientRouter } from 'astro:transitions'
import Header from '../components/header/Header.astro'
import '@/styles/global.css'
import { ToasterProvider } from '@/components/react/ToasterProvider'
import Footer from '@/sections/Footer.astro'

interface Props {
	title?: string
}
const { title = "Urban Style" } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>

		<ClientRouter />
	</head>
	<body class="bg-background flex flex-col gap-5 overflow-auto">
		<Header />
		<main>
			<slot />
		</main>
		<slot name="sidebar" />
		<ToasterProvider client:load transition:persist />
		<Footer/>
	</body>
</html>

<script>
	import { categoriesStore } from '@/state/categories.store'
	import { formStore } from '@/state/form.state'
	import { productStore, ProductStore } from '@/state/product.store'
	import { reportSalesStore } from '@/state/report.store'
	import { tableStore } from '@/state/table.state'
	import { logger } from '@nanostores/logger'

	logger({
		product: productStore,
		categories: categoriesStore,
		tableStore: tableStore,
		formStore: formStore,
		reportStore: reportSalesStore,
	})
</script>
<style is:global>
	@import '../styles/global.css';
</style>
