---
import type { JSX } from "astro/jsx-runtime";
import { custom } from "astro:schema";
import type { JsxAttribute } from "typescript";

interface Props {
  id?: string;
  size?: "sm" | "md" | "lg" | "custom";
  class?: string;
  type?: JSX.ButtonHTMLAttributes["type"];
}

const {
  id,
  size = "md",
  class: className = "",
  type = "button",
  ...props
} = Astro.props;
const sizeClasses = {
  sm: "px-3 py-1 text-sm",
  md: "px-4 py-2 text-base",
  lg: "px-6 py-3 text-lg",
  custom: "",
};
---

<button
  id={id}
  class={`${className} bg-accent/70 backdrop-blur-xs backdrop-brightness-80 text-text border border-border hover:custom-ring rounded cursor-pointer ${sizeClasses[size]} `}
  type={type}
  {...props}
>
  <slot />
</button>
