---
import { XMarkIcon } from '@heroicons/react/24/outline'
import Subtitle from './text/Subtitle.astro'

interface Props {
	title: string
	id?: string
	open?: boolean
}

const { id = 'dialog', open = false, title } = Astro.props
---

<dialog
	open={open}
	id={id}
	class="-translate-1/2 fixed inset-0 left-1/2 top-1/2 z-[999] w-full max-w-xl bg-transparent px-3"
>
	<div
		class="bg-background border-border shadow-crust overflow-visible rounded-2xl border-2 shadow-md"
	>
		<div>
			<div
				class="bg-accent inline-flex w-full items-center justify-between rounded-t-2xl px-5 py-3"
			>
				<span class="inline-flex items-center gap-2">
					<slot name="icon" />
					<Subtitle size="xl" Text={title} />
				</span>
				<XMarkIcon id={`close_${id}`} className="size-8 cursor-pointer" />
			</div>
		</div>
		<div>
			<slot />
		</div>
	</div>
</dialog>
