<header class="w-full h-14 flex border-b justify-around items-center">
  <h1>Urban Style</h1>
  <div>
    <ul class="flex gap-6">
      <li><a href="">Hombres</a></li>
      <li><a href="">Mujeres</a></li>
      <li><a href="">Buscar</a></li>
    </ul>
  </div>
  <nav>
    <ul class="flex gap-6">
      <li><a href="">Iniciar Sesión</a></li>
      <li><a href="">Carrito</a></li>
    </ul>
  </nav>
</header>
