---
import LoginModal from "./LoginModal.astro";
const { user } = Astro.locals;
---

<header class="w-full h-14 px-14 flex border-b justify-between items-center">
  <h1>Urban Style</h1>
  <div>
    <ul class="flex gap-6">
      <li><a href="">Hombres</a></li>
      <li><a href="">Mujeres</a></li>
      <li><a href="">Buscar</a></li>
    </ul>
  </div>
  <nav>
    <ul class="flex gap-6">
      <li>
        {
          !user && (
            <button id="login_button" type="button">
              Iniciar Sesión
            </button>
          )
        }
        {user && <span>{user.name}</span>}
        <LoginModal />
      </li>
      <li>
        <button type="button">Carrito</button>
      </li>
    </ul>
  </nav>
</header>

<script>
  import { $ } from "@/lib/dom-selector";

  $("#login_button")?.addEventListener("click", () => {
    $<HTMLDialogElement>("#login_modal")?.showModal();
  });
</script>
