---
import { getAllProducts } from "../service/product.service";
import ProductCard from "./ProductCard.astro";

const products = await getAllProducts();
---

<section class="flex">
  <article class="w-full text-center">
    <div
      class="grid auto-rows-[15rem] grid-cols-[repeat(auto-fill,max(15rem))] pt-4 gap-20 justify-center"
    >
      {
        products.map((product) => (
          <ProductCard product={product} key={product.id} />
        ))
      }
    </div>
  </article>
</section>

<script>
  import { $ } from "@/lib/dom-selector";
  import { navigate } from "astro:transitions/client";

  $("a")?.addEventListener("click", (event) => {
    event.preventDefault();
    const href = (event.currentTarget as HTMLAnchorElement).href;
    navigate(href);
  });
</script>
