<span class="border-border text-text relative flex w-full items-center px-4 py-2">
	<span
		class="bg-accent before:border-3 before:border-background before:bg-accent-2 before:-translate-1/2 absolute left-0 h-full w-1 before:absolute before:left-1/2 before:top-1/2 before:mx-auto before:size-4 before:rounded-full"
	></span>
	<span class="ml-2">
		<slot />
	</span>
</span>
