---
import { cn } from '@/lib/cn'
import type { JSX } from 'astro/jsx-runtime'

interface Props extends JSX.HTMLAttributes {}

const { class: className = '', ...props } = Astro.props
---

<span
	class={cn(
		'bg-foreground/90 backdrop-blur-xs rounded-lg px-4 py-2 text-base uppercase tracking-wide shadow-md shadow-accent',
		className,
	)}
	{...props}
>
	<slot />
</span>
