---
import { MapPinIcon } from '@heroicons/react/24/outline'
import Button from '../Button.astro'
import InfoRow from '../InfoRow.astro'
import Subtitle from '../text/Subtitle.astro'
import { AddressSelect } from './react/AddressSelect'
import AddressDialogForm from './AddressDialogForm.astro'
import SendOrderButton from './SendOrderButton.astro'

interface Props {
	calculateTotal: number
}

const { user } = Astro.locals
const userId = user.id ?? ''

const { calculateTotal } = Astro.props
const total = calculateTotal
---

<article
	class="border-border md:min-w-sm 2xl:min-w-lg flex w-full basis-96 flex-col gap-1 rounded border-2 px-3 py-3 md:mr-3 md:px-6"
>
	<Subtitle size="xl" Text="Detalles" />
	<div class="border-border flex flex-col gap-11 pt-5">
		<div class="flex flex-col gap-1">
			<InfoRow
				label="Total"
				value={`<strong>${Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(total)}</strong>`}
			/>
			<InfoRow label="Envió" value="<strong>Gratis</strong>" />
			<InfoRow
				class="pt-5"
				label="Total con Iva"
				value={`<strong id="total">${Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(total + total * 0.19)}</strong>`}
			/>
		</div>
		<div class="flex flex-col items-center justify-center gap-2">
			<AddressSelect userId={userId} client:idle />
			<Button
				id="address_button"
				class="bg-primary shadow-primary h-fit w-full backdrop-brightness-100 hover:shadow hover:ring-0"
			>
				<span class="pointer-events-none flex items-center justify-center gap-2 text-slate-800">
					<MapPinIcon className="size-6" />
					<span> Añadir nueva Dirección </span>
				</span>
			</Button>
			<AddressDialogForm />
		</div>
		<div>
			<SendOrderButton userId={userId} />
		</div>
	</div>
</article>
