@import "tailwindcss";

@theme {
  --font-primary: "Roboto", sans-serif;

  --color-primary: #fad7d7;
  --color-secondary: #ccd0da;
  --color-accent: #dce0e8;
  --color-background: #eff1f5;
  --color-text: #7c7f93;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@utility mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

html {
  font-family: "Roboto", sans-serif;
}
