@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--font-primary: 'Roboto', sans-serif;

	--color-primary: #cba6f7;
	--color-secondary: #ccd0da;
	--color-accent: #dce0e8;
	--color-accent-2: #c7d9dd;
	--color-background: #eff1f5;
	--color-foreground: #e6e9ef;
	--color-text: #38394d;
	--color-border: #7c7f93;
	--color-red: #ca3b49;
	--color-red-2: #371014;
	--color-yellow: rgb(249, 226, 175);
	--color-yellow-2: #643f0c;
	--color-blue-1: #89b4fa;
	--color-blue-2: #29364b;
	--color-green-1: #a6e3a1;
	--color-green-2: #273426;
	--color-crust: #292c3c;
	--color-button: #89b4fa;

	--animation-pulse: pulse 0.2s ease-in-out infinite;
	--animate-aside-open: aside-open 300ms linear;
	--animate-aside-close: aside-close 300ms ease-out;
	--animate-slide-down: slide-down 200ms linear;
	--animate-slide-up: slide-up 200ms linear;
	--animate-expand: expand 250ms ease-in;
	--animate-contract: contract 250ms linear forwards;

	@keyframes pulse {
		0% {
			opacity: 0.3;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0.3;
		}
	}

	@keyframes slide-down {
		from {
			max-height: 0;
			overflow: hidden;
		}

		to {
			max-height: 22rem;
		}
	}

	@keyframes slide-up {
		from {
			max-height: 24rem;
			overflow: hidden;
		}

		to {
			max-height: 0;
		}
	}

	@keyframes aside-open {
		0% {
			width: 0;
		}
		100% {
			width: 100%;
		}
	}

	@keyframes aside-close {
		0% {
			width: 100%;
			visibility: visible;
		}
		100% {
			width: 0;
		}
	}

	@keyframes expand {
		from {
			max-height: 0;
			overflow: hidden;
		}

		to {
			height: contain;
		}
	}

	@keyframes contract {
		from {
			display: flex;
			height: contain;
		}

		to {
			display: hidden;
			max-height: 0;
			box-shadow: none;
			overflow: hidden;
		}
	}
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}

@utility mask-fade-bottom {
	mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

@utility custom-ring {
	box-shadow: 0 0 3px var(--color-border);
	border-color: var(--color-border);
	outline: 2px solid transparent;
	outline-offset: 2px;
}

@utility shadow-l {
	box-shadow: -4px 0 10px -4px var(--color-crust);
}

html,
body {
	min-height: 100vh;
	max-width: 100vw;
	color: var(--color-text);
}
