---
interface Props {
	Text: string
	class?: string
	size?: 'xs' | 'sm' | 'base' | 'lg' | 'xl' | '2xl' | '3xl' | '4xl' | '5xl'
	id?: string
	title?: string
}

const { Text, id, title, size = 'base', class: className = '' } = Astro.props

const sizeClasses = {
	xs: 'text-xs',
	sm: 'text-sm',
	base: 'text-base',
	lg: 'text-lg',
	xl: 'text-xl',
	'2xl': 'text-2xl',
	'3xl': 'text-3xl',
	'4xl': 'text-4xl',
	'5xl': 'text-5xl',
}
---

<h2 id={id} class:list={[className, 'text-text font-semibold', sizeClasses[size]]} title={title}>
	{Text}
</h2>
