---
import { Content } from '@/content/guides/GuideTerms.md'

import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<section class="prose mx-auto max-w-4xl px-10">
		<Content />
	</section>
</Layout>
