<div
  class="hidden group-hover:block absolute inset-0 border border-transparent before:absolute before:-top-0.5 before:-left-0.5 before:w-10 before:h-10 before:border-t-4 before:border-l-4 before:border-text after:absolute after:-bottom-0.5 after:-right-0.5 after:w-10 after:h-10 after:border-b-4 after:border-r-4 after:border-text z-20 after:rounded-sm before:rounded-sm"
>
</div>
<div
  class="hidden group-hover:block absolute inset-0 border border-transparent before:absolute before:-bottom-0.5 before:-left-0.5 before:w-10 before:h-10 before:border-b-4 before:border-l-4 before:border-text after:absolute after:-top-0.5 after:-right-0.5 after:w-10 after:h-10 after:border-t-4 after:border-r-4 after:border-text z-20 after:rounded-sm before:rounded-sm"
>
</div>

<div
  class="border-text absolute inset-0 rounded-lg border-0 opacity-0 transition-all duration-300 group-hover:border-2 group-hover:opacity-100"
>
</div>

<div
  class="bg-text absolute -bottom-1 left-1/2 h-1 w-0 -translate-x-1/2 transform rounded-t-md transition-all duration-300 group-hover:w-2/6"
>
</div>
