<div
	class="before:border-t-5 before:border-l-5 before:border-text after:border-b-5 after:border-r-5 after:border-text pointer-events-none invisible absolute inset-0 z-20 border border-transparent opacity-0 transition-all duration-500 before:absolute before:-left-0.5 before:-top-0.5 before:h-10 before:w-10 before:rounded-sm after:absolute after:-bottom-0.5 after:-right-0.5 after:h-10 after:w-10 after:rounded-sm group-hover:visible group-hover:opacity-100"
>
</div>
<div
	class="before:border-b-5 before:border-l-5 before:border-text after:border-t-5 after:border-r-5 after:border-text pointer-events-none invisible absolute inset-0 z-20 border border-transparent opacity-0 transition-all duration-500 before:absolute before:-bottom-0.5 before:-left-0.5 before:h-10 before:w-10 before:rounded-sm after:absolute after:-right-0.5 after:-top-0.5 after:h-10 after:w-10 after:rounded-sm group-hover:visible group-hover:opacity-100"
>
</div>

<div
	class="border-text absolute inset-0 rounded border-0 opacity-0 transition-all duration-300 group-hover:animate-pulse group-hover:border-2 group-hover:opacity-100"
>
</div>
