---
import { PlusIcon, MinusIcon } from "@heroicons/react/24/outline";
import Button from "../Button.astro";

interface Props {
  maxNumber: number;
  id?: string;
  value?: string;
}

const { maxNumber, id, value = "1", ...props } = Astro.props;
---

<div class="flex" transition:persist>
  <div class="flex w-fit border border-border rounded" {...props}>
    <Button
      id="decrement"
      class="flex items-center rounded-tr-[0] rounded-br-[0] border-0 justify-center aspect-square size-10"
      size="sm"
    >
      <MinusIcon className="size-5 pointer-events-none" />
    </Button>
    <input
      id={id}
      type="number"
      class="w-fit min-w-14 border-l border-r border-border text-center focus:outline-none focus:custom-ring"
      value={value}
      min="1"
      max={maxNumber}
      data-value={value}
    />
    <Button
      id="increment"
      class="flex items-center rounded-tl-[0] rounded-bl-[0] border-0 justify-center aspect-square size-10"
      size="sm"
    >
      <PlusIcon className="size-5 pointer-events-none" />
    </Button>
  </div>
</div>

<script>
  import { $, $$ } from "@/lib/dom-selector";

  const $inputsNumber = $$('input[type="number"]') as NodeList;

  const handleIncrement = ($inputNumber: HTMLInputElement) => {
    if ($inputNumber.valueAsNumber >= Number($inputNumber.max)) {
      $inputNumber.value = $inputNumber.max;
      return;
    }

    $inputNumber.valueAsNumber++;
  };
  const handleDecrement = ($inputNumber: HTMLInputElement) => {
    if ($inputNumber.min >= $inputNumber.value) {
      $inputNumber.value = $inputNumber.min;
      return;
    }

    $inputNumber.valueAsNumber--;
  };

  const handleValidate = ($inputNumber: HTMLInputElement) => {
    let value = $inputNumber.valueAsNumber;

    if (isNaN(value) || value < Number($inputNumber.min)) {
      $inputNumber.value = $inputNumber.min;
      return;
    }

    if (value > Number($inputNumber.max)) {
      $inputNumber.value = $inputNumber.max;
    }
  };

  document.addEventListener("astro:page-load", () => {
    $inputsNumber.forEach(($input) => {
      const $inputNumber = $input as HTMLInputElement;
      $inputNumber.value = $inputNumber.dataset.value as string;

      $inputNumber.addEventListener("keydown", (event) => {
        if (event.key === "Enter") {
          handleValidate($inputNumber);
        }
      });

      $inputNumber.addEventListener("blur", () => handleValidate($inputNumber));

      ($inputNumber?.parentElement as HTMLDivElement)
        ?.querySelector("#decrement")
        ?.addEventListener("click", () => handleDecrement($inputNumber));

      ($inputNumber?.parentElement as HTMLDivElement)
        ?.querySelector("#increment")
        ?.addEventListener("click", () => handleIncrement($inputNumber));
    });
  });
</script>

<style>
  <style>
/* Oculta las flechas en Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Oculta las flechas en Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>
