---
import ProductCard from './ProductCard.astro'
import type { Products } from '@/interface/product.interface'

interface Props {
	products: Products[]
}

const { products } = Astro.props
---

<div
	class="grid w-full auto-rows-auto grid-cols-2 justify-around gap-5 sm:grid-cols-[repeat(auto-fill,minmax(10rem,18rem))] md:gap-10"
>
	{products?.map((product) => <ProductCard product={product} />)}
</div>
