---
import { Image } from 'astro:assets'
import { CLOUDFLARE_URL } from '@/config/env-config'
import type { Images } from '@/interface/product.interface'

interface Props {
	alt: string
	productId: string
	images: Images[]
}

const { alt, images, productId } = Astro.props
---

<div class="">
	<Image
		class="aspect-square size-full max-w-full rounded-tl-md max-sm:rounded-md"
		src={`${CLOUDFLARE_URL}/${images[0].image}`}
		alt={alt}
		width={450}
		height={450}
		loading="lazy"
		transition:name={productId}
	/>
</div>
