---
import { Image } from 'astro:assets'
import { CLOUDFLARE_URL } from '@/config/env-config'
import type { Images } from '@/interface/product.interface'

interface Props {
	alt: string
	productId: string
	images: Images[]
}

const { alt, images, productId } = Astro.props
---

<div class="">
	<Image
		class="w-md border-border shadow-crust aspect-square shrink rounded-lg border shadow-sm"
		src={`${CLOUDFLARE_URL}/${images[0].image}`}
		alt={alt}
		width={500}
		height={500}
		loading="lazy"
		transition:name={productId}
	/>
</div>
