---
import { initializeProductGroupeStore } from '@/state/product.store'
import ProductsSearchResult from './ProductsSearchResult.astro'
import type { ProductsGroupedCategory } from '@/interface/product.interface'
import { productGroupedStore } from '@/state/product.store'
import ProductRowByCategory from './ProductRowByCategory.astro'

const searchQuery = Astro.url.searchParams.get('search')

let products: ProductsGroupedCategory[] = []
if (!searchQuery) {
	await initializeProductGroupeStore()
	products = productGroupedStore.get()
}
---

<section
	class="flex flex-col gap-5 px-3 md:px-6"
	transition:name="home-products"
	transition:animate="slide"
>
	{!searchQuery && products.map((group) => <ProductRowByCategory group={group} />)}
	{searchQuery && <ProductsSearchResult searchQuery={searchQuery.trim()} />}
</section>

<script>
	import { $ } from '@/lib/dom-selector'
	import { navigate } from 'astro:transitions/client'

	$('a')?.addEventListener('click', (event) => {
		event.preventDefault()
		const href = (event.currentTarget as HTMLAnchorElement).href
		navigate(href, {
			history: 'push',
		})
	})
</script>
