---
import ProductCard from './ProductCard.astro'
import type { Products } from '@/interface/product.interface'

interface Props {
	products: Products[]
}

const { products } = Astro.props
---

<div
	class="grid w-full auto-rows-auto grid-cols-[repeat(auto-fill,max(15rem))] gap-x-10 gap-y-32 px-3"
>
	{products?.map((product) => <ProductCard product={product} />)}
</div>
