---
import { Image } from 'astro:assets'
import { CLOUDFLARE_URL } from '@/config/env-config'
import type { Images } from '@/interface/product.interface'

interface Props {
	alt: string
	productId: string
	images: Images[]
}

const { alt, images, productId } = Astro.props
---

<div class="h-fit">
	<Image
		class="lg:w-md border-border shadow-crust aspect-video w-full rounded-md shadow-sm max-md:rounded-bl-none max-md:rounded-br-none max-md:object-cover md:rounded-lg md:border lg:aspect-square"
		src={`${CLOUDFLARE_URL}/${images[0].image}`}
		alt={alt}
		width={500}
		height={500}
		loading="lazy"
		transition:name={productId}
	/>
</div>
