---
import ProductCard from "./ProductCard.astro";
import type { Products } from "@/interface/product.interface";

interface Props {
  products: Products[];
}

const { products } = Astro.props;
---

<div
  class="w-full grid auto-rows-[15rem] grid-cols-[repeat(auto-fill,max(15rem))] pt-4 gap-20 gap-y-32 justify-center"
>
  {
    products?.map((product) => (
      <ProductCard product={product} key={product.id} />
    ))
  }
</div>
