---

---

<footer
	class="@container bg-accent prose relative z-50 float-end inline-flex h-fit w-full max-w-full justify-between px-6 py-3"
>
	<span>
		© {new Date().getFullYear()} Urban Style - Todos los derechos reservados.
	</span>
	<a href="/terms">Terminos y condiciones</a>
</footer>
