---
import ProductCard from '@/components/home/ProductCard.astro'
import Subtitle from '@/components/text/Subtitle.astro'
import { getProductByCategory } from '@/service/product.service'

interface Props {
	categoryName: string
}
const { categoryName } = Astro.props

const productsRecommended = await getProductByCategory(categoryName)
---

<div class="px-6">
	<section class="flex w-full gap-10">
		<article class="flex w-full flex-col gap-2">
			<Subtitle Text="Productos Relacionados" size="2xl" />
			<div
				class="flex w-full flex-wrap items-center justify-center gap-2 sm:items-start sm:justify-start"
			>
				{
					productsRecommended.map((product) => (
						<div>
							<ProductCard product={product} borderEffect={false} />
						</div>
					))
				}
			</div>
		</article>
	</section>
</div>
