---
interface Props {
	title: string
	mediator: string
}

const { mediator, title } = Astro.props
---

<li
	class="bg-background border-border group relative flex aspect-square w-14 scale-90 cursor-pointer items-center justify-center rounded border text-center transition-transform duration-300 hover:scale-105"
	data-mediator={mediator}
>
	<slot name="icon" />
	<span class="animate-up absolute top-0 hidden group-hover:block">
		{title}
	</span>
</li>

<style>
	.animate-up {
		animation: up 0.3s ease-out forwards;
	}

	@keyframes up {
		0% {
			opacity: 0;
			scale: 0.5;
			transform: translateY(-5px);
		}
		100% {
			opacity: 1;
			scale: 1;
			transform: translateY(-25px);
		}
	}
</style>
