---
import TableMostSold from './react/components/table/TableMostSold'
---

<div class="border-border flex flex-col rounded border px-5 py-3 text-center max-md:col-span-2">
	<div class="max-h-11">
		<span class="text-lg">Productos Mas Vendidos</span>
	</div>
	<TableMostSold client:only="react" />
</div>
