---
import TableMostSold from './react/components/table/TableMostSold'
---

<div
	class="border-border flex flex-col items-center justify-center rounded border px-5 py-3 text-center"
>
	<span class="text-lg">Productos Mas Vendidos</span>
	<TableMostSold client:idle />
</div>
