---
import SummaryStat from '@/components/dashboard/SummaryStat.astro'
const { salesLastMonth } = Astro.props
---

<div class="col-span-full grid grid-cols-2 gap-5 md:grid-cols-3">
	<SummaryStat
		label="Ingresos (Último mes)"
		value={Intl.NumberFormat('es-CO', {
			style: 'currency',
			currency: 'COP',
			maximumFractionDigits: 0,
		}).format(salesLastMonth?.total)}
	/>
	<SummaryStat label="Ventas (Último mes)" value={salesLastMonth?.sales} />
</div>
