---
import CardDock from './CardDock.astro'
import { QueueListIcon, ShoppingBagIcon, TagIcon } from '@heroicons/react/24/outline'
import { TABLE_TYPE } from '@/interface/table-mediator.interface'
---

<nav
	class="before:border-border before:bg-accent sticky bottom-0 mx-auto w-fit px-7 before:absolute before:bottom-1 before:left-0 before:-z-10 before:h-7 before:w-full before:rounded before:border"
	transition:persist
>
	<ul id="container_links" class="mb-2.5 flex justify-around gap-5">
		<CardDock title="Productos" mediator={TABLE_TYPE.PRODUCTS}>
			<span class="pointer-events-none" slot="icon">
				<ShoppingBagIcon className="stroke-text pointer-events-none size-9" />
			</span>
		</CardDock>
		<CardDock title="Categorías" mediator={TABLE_TYPE.CATEGORIES}>
			<span class="pointer-events-none" slot="icon">
				<TagIcon className="stroke-text pointer-events-none size-9" />
			</span>
		</CardDock>
		<CardDock title="Pedidos" mediator={TABLE_TYPE.ORDERS}>
			<span class="pointer-events-none" slot="icon">
				<QueueListIcon className="stroke-text size-9" />
			</span>
		</CardDock>
	</ul>
</nav>

<script>
	import { $ } from '@/lib/dom-selector'
	import { dispatchMediatorEvent } from '@/lib/utils/change-mediator-event'
	import { selectMediator } from '@/lib/utils/select-mediator'
	import { TABLE_PARAM } from '@/interface/table-mediator.interface'

	function getMediatorFromTarget(target: HTMLElement) {
		if (!(target instanceof HTMLLIElement) && !(target instanceof HTMLImageElement)) {
			return null
		}
		return target.dataset.mediator || null
	}

	function updateTableData() {
		selectMediator()
	}

	function updateUrlWithMediator(mediator: string) {
		const url = new URL(window.location.href)
		url.searchParams.set(TABLE_PARAM.TYPE, mediator)
		window.history.replaceState({}, '', url)
		updateTableData()
	}

	function handleDockClick(event: Event) {
		const target = event.target as HTMLElement
		const mediator = getMediatorFromTarget(target)

		if (!mediator) return
		updateUrlWithMediator(mediator)
		dispatchMediatorEvent({ mediator })
	}

	$('#container_links')?.addEventListener('click', handleDockClick)
</script>
