---
const { label, value } = Astro.props
---

<div
	class="border-border flex flex-col items-center justify-center gap-1 rounded border px-5 py-2.5"
>
	<span class="text-text w-full text-left text-sm md:text-base">{label}</span>
	<span class="text-text text-xl font-bold md:text-5xl">{value}</span>
</div>
