---
import Table from "@/components/dashboard/Table.astro";
import Dock from "@/components/dashboard/Dock.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="flex flex-col items-center">
    <h1>Dashboard</h1>
    <Table />
  </section>
  <Dock />
</Layout>
