---
import Table from "@/components/dashboard/Table.astro";
import Dock from "@/components/dashboard/Dock.astro";
import Layout from "@/layouts/Layout.astro";
import FormModal from "@/components/dashboard/react/FormModal";
---

<Layout>
  <section class="flex flex-col items-center">
    <h1>Dashboard</h1>
    <article
      class="w-full max-w-10/12 flex flex-col items-center gap-2 overflow-auto"
    >
      <div class="w-full flex justify-end">
        <button
          id="button_modal"
          class="bg-accent px-3 py-0.5 rounded cursor-pointer"
          type="button"
          transition:persist
        >
          Añadir
        </button>
        <FormModal client:only />
      </div>
      <Table />
    </article>
  </section>
  <Dock />
</Layout>

<script>
  import { $ } from "@/lib/dom-selector";
  import { openModalEvent } from "@/lib/utils/open-modal-event";
  import { selectMediator } from "@/lib/utils/select-mediator";

  const handleMediator = async () => {
    const dashboardMediator = await selectMediator();
    if (dashboardMediator) {
      openModalEvent(dashboardMediator.form.formConfig);
    }
  };

  $("#button_modal")?.addEventListener("click", handleMediator);
</script>
