---
import Dock from '@/components/dashboard/Dock.astro'
import Layout from '@/layouts/Layout.astro'
import { Sidebar } from '@/components/dashboard/react/components/Sidebar'
import DashboardTableSection from '@/components/dashboard/DashboardTableSection.astro'
import DashboardSummarySection from '@/components/dashboard/DashboardSummarySection.astro'
---

<Layout>
	<Sidebar slot="sidebar" client:only="react" />
	<section class="flex h-full w-full flex-col items-center gap-5 p-5">
		<DashboardSummarySection />
		<DashboardTableSection />
		<Dock />
	</section>
</Layout>

<script>
	import { selectMediator } from '@/lib/utils/select-mediator'
	import { CategoriesStore } from '@/state/categories.store'

	document.addEventListener('astro:page-load', async () => {
		const table = (await selectMediator())?.table
		console.log('Dock table:', table)
		if (typeof table === 'function') table()
	})
</script>
