---
import Dock from '@/components/dashboard/Dock.astro'
import Layout from '@/layouts/Layout.astro'
import { Sidebar } from '@/components/dashboard/react/components/Sidebar'
import DashboardTableSection from '@/components/dashboard/DashboardTableSection.astro'
import DashboardSummarySection from '@/components/dashboard/DashboardSummarySection.astro'
---

<Layout>
	<Sidebar slot="sidebar" client:idle />
	<section class="flex h-full w-full flex-col items-center gap-5 p-5">
		<DashboardSummarySection />
		<DashboardTableSection />
		<Dock />
	</section>
</Layout>

<script>
	import { $ } from '@/lib/dom-selector'
	import { openModalEvent } from '@/lib/utils/open-modal-event'
	import { selectMediator } from '@/lib/utils/select-mediator'
	import { CategoriesStore } from '@/state/categories.store'

	const handleMediator = async () => {
		const dashboardMediator = await selectMediator()
		if (dashboardMediator) {
			const { formType, sendData, title } = dashboardMediator.form
			openModalEvent(title, formType, sendData)
			dashboardMediator.table()
		}
	}

	$('#button_modal')?.addEventListener('click', handleMediator)
	document.addEventListener('astro:page-load', async () => {
		const table = (await selectMediator())?.table
		console.log('Dock table:', table)
		if (typeof table === 'function') table()

		CategoriesStore()
	})
</script>
