---
import Layout from '@/layouts/Layout.astro'
import ShoppingCartSection from '@/sections/ShoppingCartSection.astro'
---

<Layout>
	<section class="h-fit text-center">
		<h1 class="text-3xl font-bold">Carrito de Compras</h1>
	</section>
	<ShoppingCartSection transition:animate="fade" transition:persist />
</Layout>
