---
import LayoutWithoutHeader from '@/layouts/LayoutWithoutHeader.astro'
import { Content } from '@/components/terms/terms.md'
---

<LayoutWithoutHeader>
	<section class="@container py-16">
		<article class="prose mx-auto">
			<Content />
		</article>
	</section>
</LayoutWithoutHeader>
